   <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Bem vindo ao <span> Grupo Amazon Fort</span></h2>
            <p data-aos="fade-up">Nossa missão é sermos os melhores naquilo que nos propusermos a fazer, com foco absoluto em nossas atividades, garantindo os melhores produtos e serviços aos clientes, solidez aos fornecedores, rentabilidade aos acionistas e a oportunidade de um futuro melhor para toda a sociedade.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#" class="btn-get-started">Conheça mais</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(<%= asset_path('pagina01.png') %>)"></div>
      <div class="carousel-item" style="background-image: url(<%= asset_path('pagina02.png') %>)"></div>
      <div class="carousel-item" style="background-image: url(<%= asset_path('pagina03.png') %>)"></div>
      <div class="carousel-item" style="background-image: url(<%= asset_path('pagina04.png') %>)"></div>

      

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section>
 
  <main id="main">

  <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Empresas do Grupo</h2>
          <p>O Grupo Amazon Fort é uma holding de capital fechado e controle familiar que mantém um portfólio de negócios diversificado, compostos por empresas com atuação destacada nos setores de engenharia, soluções ambientais, valorização energética e agronegócio.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(<%= asset_path('cards/amazonfortcard.png') %>)"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Amazon Fort - Soluções Ambientais</h4>
                    <p>Prestar serviços de qualidade à população, a partir de contratos de longa duração firmados junto a governos municipais e estaduais.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(<%= asset_path('cards/ecofortcard.jpeg') %>)"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Ecofort - Engenharia Ambiental</h4>
                    <p>Dedicada a criação de unidades de valorização de resíduos e gerenciamento de resíduos para empresas públicas e privadas em todo Brasil.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(<%= asset_path('cards/amazonenergiacard.png') %>)"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Amazon Energia</h4>
                    <p>Dedicação exclusiva a busca de fontes alternativas, economicamente viáveis e ambientalmente responsáveis, capazes de gerar energia.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(<%= asset_path('cards/agroamazoncard.jpg') %>)"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Agro Amazon</h4>
                    <p>Atua na criação de gado de corte, na produção agrícola de soja, milho e investe no desenvolvimento da Agricultura de Precisão (AP).</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(<%= asset_path('cards/afengenhariacard.jpg') %>)"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">AF Engenharia</h4>
                    <p>Responsável por obras de Infraestrutura no norte do Brasil, a empresa atua em vários segmentos do setor, como portos, aeroportos, mobilidade urbana e saneamento.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>


<section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up"">    
    
      <div class=" section-header">
        <h2>Nosso Blog</h2>        
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <%= image_tag('blog/blog1.jpg', class: 'img-fluid', alt: '') %>
              <span class="post-date">Março 6, 2023</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Ecoparque Porto Velho realiza encontro com empresas transportadoras de resíduos</h3>             

              <hr>

              <a href="#" class="readmore stretched-link"><span>Leia mais</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <%= image_tag('blog/blog2.jpg', class: 'img-fluid', alt: '') %>
              <span class="post-date">Fevereiro 1, 2023</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Orizon VR expande atuação para a região norte do país protegendo o meio ambiente e a floresta amazônica</h3>
              

              <hr>

              <a href="#" class="readmore stretched-link"><span>Leia mais</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
               <%= image_tag('blog/blog3.jpg', class: 'img-fluid', alt: '') %>
              <span class="post-date">Janeiro 27, 2023</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">Grupo Amazon Fort será responsavel pelo complexo da estrada de ferro Madeira-Mamoré</h3>             

              <hr>

              <a href="#" class="readmore stretched-link"><span>Leia mais</span><i class="bi bi-arrow-right"></i></a>

            </div>

          </div>
        </div>

      </div>

      </div>
    </section>
    

  </main>

          