   <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Bem vindo á <span> J2R Tecnologias</span></h2>
            <p data-aos="fade-up">Nos orgulhamos de oferecer soluções inovadoras e personalizadas para cada cliente. Nossa equipe altamente capacitada está pronta para ajudá-lo a alcançar seus objetivos e superar suas expectativas. Nosso compromisso é com a satisfação do cliente e trabalhamos duro para alcançar isso todos os dias. Explore nosso site e descubra como podemos ajudar seu negócio a crescer.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#" class="btn-get-started">Conheça mais</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(<%= asset_path('pagina01.jpg') %>)"></div>
      <div class="carousel-item" style="background-image: url(<%= asset_path('pagina02.jpg') %>)"></div>
      <div class="carousel-item" style="background-image: url(<%= asset_path('pagina03.jpg') %>)"></div>
      <div class="carousel-item" style="background-image: url(<%= asset_path('pagina04.jpg') %>)"></div>

      

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section>
 
  <main id="main">  

  <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Conheça nossa equipe</h2>
          <p>Nosso time é formado por profissionais dedicados e comprometidos com a excelência em cada projeto. Somos movidos pela inovação e pelo desejo de fazer a diferença na vida das pessoas. Conheça nossos talentos e descubra como podemos ajudá-lo a alcançar seus objetivos. Trabalhamos juntos para oferecer soluções personalizadas e eficazes. Sinta-se à vontade para nos conhecer melhor!</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <%= image_tag("cards/fototeste.png", class: "img-fluid", alt: "Descrição da imagem") %>
              
            </div>
            <div class="member-info text-center">
              <h4>Nome Completo</h4>
              <span>Cargo</span>
              <p>Descrição, qualificações ou alguma frase</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <%= image_tag("cards/fototeste.png", class: "img-fluid", alt: "Descrição da imagem") %>
              
            </div>
            <div class="member-info text-center">
              <h4>Nome Completo</h4>
              <span>Cargo</span>
              <p>Descrição, qualificações ou alguma frase</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <%= image_tag("cards/fototeste.png", class: "img-fluid", alt: "Descrição da imagem") %>
              
            </div>
            <div class="member-info text-center">
              <h4>Nome Completo</h4>
              <span>Cargo</span>
              <p>Descrição, qualificações ou alguma frase</p>
            </div>
          </div>        

        </div>

      </div>
    </section>


    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nossas Tecnologias</h2>
          <p>Apresentamos as tecnologias que utilizamos para fornecer nossos serviços e soluções personalizadas, para que você possa conhecer como podemos atender às suas necessidades tecnológicas em diversos projetos e demandas.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">              
              <h3>Ruby</h3>
              <p>Ruby é uma ótima opção para desenvolver aplicativos e sites com rapidez e eficiência, graças à sua sintaxe simples e recursos de programação orientada a objetos.</p>              
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">              
              <h3>C#</h3>
              <p>C# é ideal para desenvolver aplicativos Windows e jogos, graças à sua sintaxe moderna e recursos de programação orientada a objetos, além de ser integrado à plataforma .NET.</p>              
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">              
              <h3>Delphi</h3>
              <p>Delphi é uma linguagem poderosa para criar aplicativos empresariais com recursos avançados, incluindo interfaces gráficas de usuário, acesso a bancos de dados e suporte multiplataforma.</p>              
            </div>
          </div>

      </div>
    </section>



 <section id="client" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(<%= asset_path('cliente.jpg') %>);"></div>


          <div class="col-lg-7">
            <h2>Nossos clientes</h2>
            <div class="our-story">              
              <h3>Conheça</h3>
              <p>Nossos clientes são variados e atendemos desde pequenas empresas até grandes corporações em diferentes setores. Trabalhamos em conjunto com cada cliente para oferecer soluções personalizadas e garantir o sucesso de seus negócios. Valorizamos cada cliente e nos esforçamos para fornecer serviços de qualidade. Dentre eles temos:</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>EMPRESA</span></li>
                <li><i class="bi bi-check-circle"></i> <span>EMPRESA</span></li>
                <li><i class="bi bi-check-circle"></i> <span>EMPRESA</span></li>
              </ul>              
            </div>
          </div>
        </div>
      </div>
    </section>


