<!DOCTYPE html>
<html>
  <head>
    <title>J2R Tecnologias</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body> 
    <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">     
        <a href="<%= root_path %>", class="logo d-flex align-items-center">
          <h1>J2R Tecnologias<span>.</span></h1>
          
        </a>   

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><%= link_to 'Inicio', root_path %></li>          
          <li><%= link_to 'Nossos clientes', '#client' %></li>
          <li><%= link_to 'Tecnologias usadas', tecnologias_usadas_path %></li>
          <li><%= link_to 'Conheça nossa equipe', '#team' %></li>
          <li><%= link_to 'Entre em contato', contato_path %></li>
          <li><%= link_to 'Trabalhe conosco', trabalhe_conosco_path %></li>         
        </ul>
      </nav>

    </div>
  </header>
   
   <%= yield %>
     
  </body>
</html>


